body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 8px 18px;
  background-color: black;
}

h1 {
  font-family: 'Apple Chancery', cursive;
  color: rgb(255, 191, 0);
  text-align: center;
  font-size: 200px;
  padding: 8px 18px;
  border: 10px solid rgb(255, 191, 0);
}

ul {
  color: rgb(255, 191, 0);
}
