main {
  padding: 30px;
}

footer {
  font-family: 'Urbanist', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;

  border-style: ridge;
  border-width: 8px;
}
