.main {
  background-color: lightblue;
  padding: 30px;
  font-family: 'Urbanist', sans-serif;
}

.row {
  padding: 15px;
}

h1 {
  font-family: 'Urbanist', sans-serif;
}


footer {
  font-family: 'Urbanist', sans-serif;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;

  border-style: ridge;
  border-width: 8px;
}
